.dashboard-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 24px;
  max-width: 768px;
  margin: 0 auto;
}

.kpi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.big-number {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 10px 0;
}

.table-card {
  padding: 16px;
}
.clickable-row {
  cursor: pointer;
  &:hover {
    background-color: rgba(86, 153, 241, 0.04);
  }
}
