<div class="login-card">
  <h2>Iniciar Sesión</h2>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- EMAIL -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Correo Electrónico</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input matInput formControlName="email" type="email" />

      @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
        <mat-error>Introduce un correo válido</mat-error>
      }
    </mat-form-field>

    <!-- PASSWORD -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Contraseña</mat-label>

      <!-- Icono izquierda -->
      <mat-icon matPrefix>lock</mat-icon>

      <!-- Input -->
      <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />

      <!-- Botón ver contraseña -->
      <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
        <mat-icon>
          {{ hide ? 'visibility_off' : 'visibility' }}
        </mat-icon>
      </button>

      @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
        <mat-error>Mínimo 8 caracteres</mat-error>
      }
    </mat-form-field>

    <!-- ERROR GENERAL -->
    @if (errorMessage()) {
      <div class="error-box">
        {{ errorMessage() }}
      </div>
    }

    <!-- BOTÓN -->
    <button
      mat-flat-button
      color="primary"
      class="full-width"
      type="submit"
      [disabled]="loginForm.invalid || loading()"
    >
      @if (loading()) {
        <mat-spinner diameter="20" style="display: inline-block; margin-right: 8px"></mat-spinner>
      }

      {{ loading() ? 'Procesando...' : 'Entrar' }}
    </button>
  </form>
</div>
