<div class="search-container">
  <div class="search-header">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Buscar producto por nombre...</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [(ngModel)]="searchTerm" placeholder="Ej. Lámpara LED" />
    </mat-form-field>
  </div>
</div>

<div class="stock-container">
  @for (item of filteredAndSortedStocks; track item.id) {
    <mat-card class="product-card" [routerLink]="['/stock', item.id]" style="cursor: pointer">
      <mat-card-header>
        <mat-card-title>
          {{ item.arrivateDate | date: 'dd/MM/yyyy' }}
        </mat-card-title>
        <span class="stock-pill" [class.low]="item.currentAmount < 10">
          {{ item.currentAmount < 10 ? 'Existencia baja' : 'Disponible' }}
        </span>
      </mat-card-header>

      <mat-card-content>
        <p>Producto: {{ item.product.name }}</p>
        <p>{{ item.product.socketTypeName }}, {{ item.product.vehicleTypeName }}</p>
        <mat-progress-bar
          mode="determinate"
          [value]="calcPorcentaje(item)"
          [color]="item.currentAmount < 10 ? 'warn' : 'primary'"
        >
        </mat-progress-bar>
        <div class="card-footer">
          <span>{{ item.currentAmount }} / 100</span>
          <span>{{
            item.currentAmount < 10 ? 'Solicitar mas producto' : 'Capacidad disponible'
          }}</span>
        </div>
      </mat-card-content>
    </mat-card>
  } @empty {
    <div class="empty-state">
      <mat-icon>shopping_cart_off</mat-icon>
      <p>No hay lotes registrados aún.</p>
    </div>
  }
  <button mat-fab color="primary" class="fab-button" (click)="goToCreate()">
    <mat-icon>add</mat-icon>
  </button>
</div>
